
@{
    ViewData["Title"] = "Traitement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Traitement des factures</h1>
<hr height:100vh;
 width:.5vw;
 border-width:0;
 color:#000;
 background-color:#000;>


<strong>    Veuillez sélectionner les factures à traiter:      </strong>
<br>
<div class="form-group">
<div class="input-group">
<div class="custom-file">
<input type="file" class="custom-file-input" id="exampleInputFile">
<label class="custom-file-label" for="exampleInputFile">Choose file</label>
</div>

</div>
</div>
<input class="favorite styled" style="float: right;"
       type="button"
       value="Vérification">



<hr height:100vh;
 width:.5vw;
 border-width:0;
 color:#000;
 background-color:#000;>