
@{
    ViewData["Title"] = "DetailTraitement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details du traitement numéro 312</h1>
 
<hr height:100vh;
 width:.5vw;
 border-width:0;
 color:#000;
 background-color:#000;>

<strang>voici la liste des factures soumises et traité dans le batch 312.  </strang>


<div class="row">
          <div class="col-12">
           <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Fichier:</th>
                      <th>Date:</th>
                      <th>Montant(TND)</th>
                      <th>Numéro Facture</th>
                   
                    </tr>
                  </thead>
                  <tbody>
                     <tr>
                  
                      <td>filename 2.pdf</td>
                      <td>11-7-2014</td>
                      <td>13.500 TND</td>
                      <td>123345566</td>
                    </tr>
                    <tr>
                     <td>filename 3.pdf</td>
                      <td>11-7-2014</td>
                      <td>13.500 TND</td>
                      <td>234567890</td>
                    </tr>
                    <tr>
                      
                      <td>filename 4.pdf</td>
                      <td>11-7-2014</td>
                      <td>13.500 TND</td>
                      <td>1232526738</td>
                    </tr>
                    <tr>
                     
                      <td>filename 5.pdf</td>
                      <td>11-7-2014</td>
                      <td>13.500 TND</td>
                      <td>23456789</td>
                    </tr>
                    <tr>
                       <tr>
                      
                      <td>filename 6.pdf</td>
                      <td>11-7-2014</td>
                      <td>13.500 TND</td>
                      <td>1232526738</td>
                    </tr>
                    <tr>
                            
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
<table style="float: right;">
   
        <tr> 
            <td> </td>
            <td></td>
            <td> <button type="button" class="btn btn-block btn-danger" style="float: right;">Télécharger</button></td>
            <td><button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i>Envoyer par email</button> </td>
          </tr>
    </table>

   




